.dropDown {
  position: absolute;
  margin-top: -70px;
  background-color: rgb(251, 251, 251);
  border-radius: 12px;
  width: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  white-space: wrap;
}

.list {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 0px 23px;
  font-size: 14px;
}

.list li input[type="checkbox"] {
  position: relative;
  top: 1.5px;
  margin-right: 7px;
}

.item {
  margin: 14px 0px;
}
