.schemesContainer {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.backArrow {
  margin-right: 5px;
  font-size: 1.2em;
}

.backBtn {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  border: none;
  font-size: 1em;
  margin-bottom: 20px;
}

.schemesSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 550;
}

.langBtn {
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(221, 218, 218);
  background-color: #ffffff;
  margin-right: 10px;
}

.engBtn {
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid rgb(221, 218, 218);
  background-color: #ffffff;
}

.buttons {
  max-width: 530px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.checkBtn {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  padding: 8px 10px 12px 10px;
  border-radius: 10px;
  border: 1px solid rgb(221, 218, 218);
  background-color: #ffffff;
}

.checkBtn:hover {
  background-color: rgb(244, 244, 244);
}


.checkIcons {
  color: rgb(140, 137, 137);
  position: relative;
  top: 4px;
  font-size: 18px;
  margin-right: 2px;
}

.item {
  margin-top: 30px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.horizontalRule {
  height: 0.5px;
  background-color: rgb(221, 218, 218);
  border: none;
}

.positionDropDown {
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 10; 
}

.categoriesContainer {
  position: sticky;
  z-index: 0;
}