.tabsSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.tabBtn {
  text-align: center;
  font-weight: 500;
  padding: 8px 30px;
  border-radius: 9px;
  border: none;
  font-size: 0.9rem;
  background-color: #ffffff;
  cursor: pointer;
}

.tabBtn:hover {
  background-color:rgb(244, 244, 244);
}
